<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>A Propos de Notre Application</h1>
      <p>
        Bienvenue sur notre application FashionProduct. Cette application a été
        conçue pour fournir une plateforme où vous pouvez explorer et acheter
        une variété de produits de mode.
      </p>
      <p>
        Notre objectif est de vous offrir une expérience de shopping en ligne
        agréable en vous présentant une sélection soigneusement choisie de
        produits à la mode.
      </p>
    </div>
  </div>
</div>
